---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=<FOODS_API_KEY>&pageSize=10&query=sweet%20potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"foodSearchCriteria":{"query":"sweet potatoes","generalSearchInput":"sweet
        potatoes","pageNumber":1,"requireAllWords":false},"totalHits":38680,"currentPage":1,"totalPages":3868,"foods":[{"fdcId":600987,"description":"SWEET
        POTATOES","dataType":"Branded","gtinUpc":"070560951975","publishedDate":"2019-04-01","brandOwner":"The
        Pictsweet Company","ingredients":"SWEET POTATOES.","foodNutrients":[{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0E-8},{"nutrientId":1110,"nutrientName":"Vitamin
        D (D2 + D3), International Units","nutrientNumber":"324","unitName":"IU","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0E-8},{"nutrientId":1253,"nutrientName":"Cholesterol","nutrientNumber":"601","unitName":"MG","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0E-8},{"nutri[...]
